html {
background-color: #E6C79C;

}

h1, h2 {
background-color: #68B0AB;
padding: 20px;
    border: solid white 1px

}

.h2 {
background-color: #BC8DA0;
color: black;
font-size: 24px;
}

.list {
line-height: 30px;
}

div {
text-align: justify;
}

.image {
max-width: 100%;
}