html {
background-color: #E6C79C;
}

body {
justify-content: center;
}

.header {
background-color: #BC8DA0;
color: white;
margin: 20px;
border-color: black;
border-radius: 10px;
min-height: 10vh;
display: flex;
align-items: center;
justify-content: center;
flex: 1;
font-size: 60px;
border: solid white 1px;
text-align: center;
}

div {
min-height: 10vh;
display: flex;
align-items: center;
justify-content: center;

}

.container {
background-color: #68B0AB;
font-size: 35px;
width: 80%;
display: flex;
flex: 1;
margin: 40px;
margin-top: auto;
border: solid white 1px;
flex-wrap: wrap;
}

.hover--over {

padding: 10px;
border-radius: 15px;
margin: 30px;
text-decoration: none;
text-align: center;

}

.hover--over:hover {
background-color: #FFFAFB;

}

#inline {
gap: 8px;
border: solid white 1px;
margin: 10px;
}